<div
  class="
    card
    station-card
    my-2
    cursor-pointer
    border border-gray-400
    hover:shadow-md hover:border-opacity-0
    transform
    hover:-translate-y-1
    transition-all
    duration-200
  "
>
  <div class="m-3">
    <h2 class="text-lg mb-2">
      Name: {{ station.name }}, Lat: {{ station.stop_area.coord.lat}}, lon: {{ station.stop_area.coord.lon}}
      <span
        class="
          text-sm text-blue-900
          font-mono
          inline
          p-2
          float-right
          animate-pulse
        "
      >{{station.stop_area.commercial_modes[0].name}}</span>
    </h2>
    <p
      class="
        font-light font-mono
        text-sm text-gray-700
        hover:text-gray-900
        transition-all
        duration-200
      "
    ></p>
  </div>
</div>
