<!--
This code snippet represents a HTML template for a menu with dropdown options.
It uses Angular Material components for styling and functionality.
The menu is triggered by a button with a menu icon. When clicked, it opens a dropdown menu
with three options: "About", "Contact", and "Language". Each option is represented by a button
with an icon and a text label. The "About" and "Contact" options are router links, which
navigate to different routes when clicked. The "Language" option opens another dropdown menu
with three language options: English, French, and Spanish.
Clicking on any of these language options triggers a function called "onSetLanguage"
with the corresponding language code as a parameter.
-->
<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Menu icon button"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
    class="nav-right nav-link"
    aria-label="about nav link"
    mat-menu-item
    routerLink="aboutRoute"
    routerLinkActive="nav-link-active"
  >
    <mat-icon>info_outline</mat-icon>
    <span>{{ "navigation.about" | transloco }}</span>
  </button>
  <button
    class="nav-right nav-link"
    aria-label="contact nav link"
    mat-menu-item
    routerLink="contactRoute"
    routerLinkActive="nav-link-active"
  >
    <mat-icon>contact_mail</mat-icon>
    <span>{{ "navigation.contact" | transloco }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="languages">
    <mat-icon>translate</mat-icon>
    <span>Language</span>
  </button>
</mat-menu>

<mat-menu #languages="matMenu">
  <button mat-menu-item class="nav-lang-button" (click)="onSetLanguage('en')">
    English
  </button>
  <button mat-menu-item class="nav-lang-button" (click)="onSetLanguage('fr')">
    French
  </button>
  <button mat-menu-item class="nav-lang-button" (click)="onSetLanguage('es')">
    Spanish
  </button>
</mat-menu>
