/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

@layer components {
  main {
    padding-top: 0rem;
    padding-left: 0 !important;
  }

  nav {
    border-bottom: 4px solid #000c66;
    background: #f5f3f3;
    height: 4rem;
  }

  logo-nav-link {
    padding-right: 8px;
  }

  .nav-link {
    color: #000c66 !important;
    @apply mx-2;
  }

  .nav-right {
    @apply mx-4 rounded hover:bg-gray-50;
  }

  .nav-link-active {
    color: #0000ff !important;
    font-weight: bold;
  }

  .nav-lang-button {
    padding: 4px;
    color: blue;
  }

  .active {
    color: pink;
    padding: 10px;
  }

  .sncf-blue {
    background-color: #0088CE;
  }

  .station-card {
    background-color: #f5f3f3;
    @apply rounded-lg shadow-lg relative
    mr-0 text-lg text-gray-800;
  }

  .search-form {
    background-color: #f5f3f3;
    @apply rounded-lg shadow-lg;
    max-width: 400px;
  }

  .input-form {
    background-color: #f5f3f3;
  }

  .title {
    @apply text-lg font-semibold text-blue-800;
  }

  .emphasis {
    @apply italic text-blue-800;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
